<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ghl.biz_track">

    <application>
        <activity
            android:name="com.ghl.biz_track.activity.TabActivity"
            android:label="Tab页面"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.ghl.biz_track.activity.ToolBarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ghl.biz_track.activity.RadioActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.ghl.biz_track.activity.DrawerActivity"
            android:label="@string/title_activity_drawer" />
        <activity android:name="com.ghl.biz_track.activity.ConstraintActivity" />
        <activity
            android:name="com.ghl.biz_track.activity.BehaviorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.ghl.biz_track.activity.LooperActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>