<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ghl.biz_mine">

    <application tools:ignore="AllowBackup,MissingApplicationIcon">

        <activity
            android:name="com.ghl.common.base.WebViewActivity"
            android:label="用户中心"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>
