<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ghl.androidservice">

    <application>
        <service
            android:name="com.ghl.androidservice.ServerService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.example.androidservice.ServerService" />
            </intent-filter>
        </service>
    </application>
</manifest>